.composerContainer{
	width:1300px;
	margin:auto;
	height:600px;
	z-index:0;
}
.composerBody{
	padding-top:50px;
	width:100vw;
	height:100vh;
}
.songList{
	margin:auto;
}
.loginScreen{
	margin:auto;
	margin-top:50px;
	margin-left:200px;
	position:fixed;
	opacity:0.9;

}
.inputBox{
	margin:auto;
	margin-top:10px;
}
.loginBody{
	top:0px;
	left:0px;
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:-1;
}
.staff{
	width:900px;
	position:absolute;
	z-index:0;
	top:150px;
	left:150px;
}
.quarter{
	z-index:1;
	top:270px;
	left:150px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}
.half{
	top:430px;
	left:150px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}
.eighth{
	top:270px;
	left:75px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}
.whole{
	top:520px;
	left:85px;
	height:40px;
	width:60px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}


.writtenquarter{
	top:120px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}

.writtenhalf{
	top:280px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}

.writteneighth{
	top:120px;
	left:-75px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}

.writtenwhole{
	top:370px;
	left:-65px;
	height:40px;
	width:60px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}
.writtenNote{
	z-index:1;
}
.note{
	z-index:1;
}
