
<div class="container">
		<div class="noteBar" ng-repeat="note in notes">
			<img src="Img/quarter.png" class="quarter" ng-mouseup="drop($event)" id="quarter{{note}}">
			<img src="Img/half.png" class="half" ng-mouseup="drop($event)" id="half{{note}}">
			<img src="Img/whole.png" class="whole" ng-mouseup="drop($event)" id="whole{{note}}">
			<img src="Img/eighth.png" class="eighth" ng-mouseup="drop($event)" id="eighth{{note}}">
		</div>
		
		<div class="staff">
			<img src="Img/Music-Staff.jpg" class="staff">
			<div ng-repeat="note in allWrittenNotes">
			<img ng-src={{note.src}} class={{note.class}} id={{note.id}} style={{note.transform}}>
			</div>
		</div>
</div>

