
.staff{
	width:900px;
	position:absolute;
	z-index:-1;
	top:150px;
	left:150px;
}
.quarter{
	top:190px;
	left:150px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}
.half{
	top:350px;
	left:150px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}
.whole{
	top:285px;
	left:75px;
	height:40px;
	width:60px;
	margin:0px auto;
	padding:0px;
	position:absolute;
	
}



.writtenquarter{
	top:40px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}

.writtenhalf{
	top:200px;
	height:150px;
	width:75px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}

.writtenwhole{
	top:135px;
	left:-75px;
	height:40px;
	width:60px;
	margin:0px auto;
	padding:0px;
	position:absolute;

}

